.group{
    font-weight: bold;
    text-align: center;
    background: #000000;
    width: 200px;
    margin: 0 auto 20px;
    display: grid;
    grid-template-columns: 100px 90px;
    border-radius: 15px;
}
input,select,option{
    font-size:medium;
    font-weight: bold;
    text-align: center;
    background: none;
    border:0;
    color:#ffffff;
}

input{
    padding: 10px;
}
select{
    padding: 15px;
}
option {
    text-align: left;
    background-color:  #000000;
}

::-webkit-scrollbar-track
{
	background-color: #000000;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #ffffff;
}
